[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/header.html.tmpl
   title = "$terms.Bugzilla 首页"
   header = "首页"
   header_addl_info = "版本 $constants.BUGZILLA_VERSION"
%]

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>已不再支持 Bugzilla [%+ release.deprecated FILTER html %] 。
        建议你升级，以确保系统安全。</p>
      [% END %]

      <p>新的 Bugzilla (版本 [% release.data.latest_ver FILTER html %]) 可在
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a> 下载。<br>
      新版本发布日期： [% release.data.date FILTER html %] 。</p>

      <p class="notice">此信息仅对有管理权限的用户显示。
      你可以在<a href="editparams.cgi?section=general#upgrade_notification_desc">参数设置</a>页设置此通知。</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>无法下载远程文件 <a href="[% constants.REMOTE_FILE FILTER html %]">
      [%~ constants.REMOTE_FILE FILTER html %]</a> （原因：
      [% release.reason FILTER html %] ）。<br>
      可能是远程服务器暂时无法使用，或是你的网站服务器无法浏览网际网络。如果你在使用代理服务器，请正确设置
      <a href="editparams.cgi?section=advanced#proxy_url">proxy_url</a> 参数。</p>

    [% ELSIF release.error == "no_write" %]
      <p>无法建立本地 XML 文件 '[% constants.LOCAL_FILE FILTER html %]' （原因：
      [% release.reason FILTER html %] ）。<br>
      请确认网站服务器可在此目录下写入此文件。
    [% ELSIF release.error == "no_update" %]
      <p>无法更新本地 XML 文件 '[% constants.LOCAL_FILE FILTER html %]' 。请确认网站服务器可以编辑此文件。</p>
    [% ELSIF release.error == "no_access" %]
      <p>无法读取本地 XML 文件 '[% constants.LOCAL_FILE FILTER html %]' 。请确认此文件已设置正确的读写权限。</p>
    [% ELSIF release.error == "corrupted" %]
      <p>本地 XML 文件 '[% constants.LOCAL_FILE FILTER html %]' 并非有效的 XML 格式。请将它删除，并尝试重新浏览此页面。</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' 并非有效的通知参数。请通过<a
      href="editparams.cgi?section=general#upgrade_notification_desc">参数设置</a>页面，检查此参数的设置。</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
  <h1 id="welcome">欢迎访问 [% terms.Bugzilla %]</h1>
  <div class="intro">[% Hook.process('intro') %]</div>

  <div class="bz_common_actions">
    <ul>
      <li>
        <a id="enter_bug" href="enter_bug.cgi"><span>报告 [% terms.Bug %]</span></a>
      </li>
      <li>
        <a id="query" href="query.cgi"><span>搜索</span></a>
      </li>
      <li>
        <a id="account"
          [% IF user.id %]
            href="userprefs.cgi"><span>偏好设置</span></a>
          [% ELSIF Param('createemailregexp') && user.authorizer.user_can_create_account %]
            href="createaccount.cgi"><span>新建帐号</span></a>
          [% ELSE %]
            href="?GoAheadAndLogIn=1"><span>登录</span></a>
          [% END %]
      </li>
      <li>
        <a id="help" href="[% docs_urlbase FILTER html %]using/index.html"><span>说明文件</span></a>
      </li>
    </ul>
  </div>

  <div>
    <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi">
      <input id="quicksearch_main" name="quicksearch" title="快速搜索"
             placeholder="输入 [% terms.bug %] 的编号或字符串进行搜索"
             autofocus required>
      <input id="find" type="submit" value="快速搜索">
      <a href="page.cgi?id=quicksearch.html" title="快速搜索说明">[?]</a>
    </form>

    <ul class="additional_links">
      [% Hook.process('additional_links') %]
    </ul>
  </div>

  <div id="common_queries">
    <h4>常用的查询：</h4>
    <ul>
      [% IF user.id %]
        <li>
          [% title = BLOCK %]Open [% terms.bugs %] assigned to me[% END %]
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% assignee_count FILTER html %])
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        <li>
          [% title = BLOCK %]Open [% terms.bugs %] reported by me[% END %]
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% reporter_count FILTER html %])
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            [% title = BLOCK %]Requests addressed to me[% END %]
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              [% title FILTER html %]</a> ([% requestee_count FILTER html %])
            <a href="buglist.cgi?f1=requestees.login_name&amp;o1=equals&amp;v1=%25user%25&amp;ctype=atom&amp;title=[% title FILTER uri %]"
               class="rss">&nbsp;</a>
          </li>
        [% END %]
      [% END %]

      <li>
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">最近 24 小时</a>
        [% title = BLOCK %]最近 24 小时提交的 [% terms.bugs %][% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">最近 7 天</a>
        [% title = BLOCK %]最近 7 天提交的 [% terms.bugs %][% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        提交的 [% terms.bugs %]
      </li>
      <li>
        <a href="buglist.cgi?chfieldfrom=24h">最近 24 小时</a>
        [% title = BLOCK %]最近 24 小时更新过的 [% terms.bugs %][% END %]
        <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfieldfrom=7d">最近 7 天</a>
        [% title = BLOCK %]最近 7 天更新过的 [% terms.bugs %][% END %]
        <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        更新的 [% terms.bugs %]
      </li>
    </ul>
  </div>

  <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
